.titulo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--primary-color);
  }
  
.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .full-width {
    width: 100%;
  }
  
  .patient-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
    color: var(--primary-color);
    }
  }
  
  .spinner {
    margin: 20px auto;
  }


  .acoes-header{
  text-align: center;
  vertical-align: middle;
}


.acoes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //gap: 2px;
}