<app-menu></app-menu>

<div class="container">
  <mat-card class="patient-header">
    <mat-card-header>
      <mat-card-title>Atendimento de {{ paciente?.nome || 'Carregando...' }}</mat-card-title>
      <mat-card-subtitle *ngIf="paciente">
        <div><strong>Nome:</strong> {{ paciente.nome }}</div>
        <div><strong>Idade:</strong> {{ calcularIdade(paciente.dataNascimento) }} anos</div>
        <div *ngIf="paciente.doencasCronicas?.usa"><strong>Doenças Crônicas:</strong> {{ paciente.doencasCronicas.quaisDoencas }}</div>
        <div *ngIf="paciente.alergias?.usa"><strong>Alergias:</strong> {{ paciente.alergias.quaisAlergias }}</div>
        <div *ngIf="paciente.medicamentos?.usa"><strong>Medicamentos:</strong> {{ paciente.medicamentos.quaisMedicamentos }}</div>
      </mat-card-subtitle>
    </mat-card-header>

    
    
      <mat-card-header>
        <mat-card-title>Tipo de Paciente</mat-card-title>
        <mat-card-subtitle>Selecione uma opção</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-button-toggle-group
          [(ngModel)]="tipoPaciente"
          name="tipoPaciente"
          appearance="legacy"
          color="primary">
          <mat-button-toggle value="infantil">Infantil</mat-button-toggle>
          <mat-button-toggle value="adolescente">Adolescente</mat-button-toggle>
          <mat-button-toggle value="adulto">Adulto</mat-button-toggle>
          <mat-button-toggle value="idoso">Idoso</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>
    
    <ng-container *ngIf="exibirGestante">
        <mat-card-header>
          <mat-card-title>Gestante</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-slide-toggle [(ngModel)]="isGestante">Gestante</mat-slide-toggle>
        </mat-card-content>
    </ng-container>
  
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ isEdicao ? 'Editar Primeira Consulta' : 'Primeira Consulta' }}</mat-card-title>
      
      <mat-form-field appearance="outline" class="full-width" >
        <mat-label>Adicione um título para a consulta</mat-label>
        <textarea matInput [(ngModel)]="tituloConsulta" [ngModelOptions]="{standalone: true}" rows="1"></textarea>
      </mat-form-field> 

      <mat-card-subtitle>Dados completos do paciente</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="consultaForm" (ngSubmit)="onSubmit()">
        <!-- Seção 1: Dados Antropométricos -->
        <mat-card class="section-card">
          <mat-card-header>
            <mat-card-title>1. Dados Antropométricos e Percepção do Peso</mat-card-title>
          </mat-card-header>
          
          <mat-card-content>
            
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Peso Atual (kg)</mat-label>
                <input matInput type="number" step="0.1" formControlName="pesoAtual" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Peso Habitual (kg)</mat-label>
                <input matInput type="number" step="0.1" formControlName="pesoHabitual">
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Altura Atual (cm)</mat-label>
                <input matInput type="number" step="0.1" formControlName="alturaAtual" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Fator de Atividade Física</mat-label>
                <mat-select formControlName="fatorAtividadeFisica">
                  <mat-option *ngFor="let fator of fatores" [value]="fator.valor">
                    {{ fator.descricao }} ({{ fator.valor }})
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="full-width" style="margin-top: 10px;">
                <button mat-raised-button color="primary" type="button" (click)="calcularTMB_GET()">Calcular TMB e GET</button>
              </div>
              
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>TMB (kcal)</mat-label>
                <input matInput formControlName="tmb" >
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>GET (kcal)</mat-label>
                <input matInput formControlName="get" >
              </mat-form-field>
            

            <!--perda de peso-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Teve perda de peso recente?</mat-panel-title>
              </mat-expansion-panel-header>
              
              <div formGroupName="perdaPeso">
                <mat-slide-toggle formControlName="teve">Sim</mat-slide-toggle>
                
                <div *ngIf="consultaForm.get('perdaPeso.teve')?.value" class="expansion-content">
                  <div class="row">
                    <mat-form-field appearance="outline">
                      <mat-label>Em quanto tempo?</mat-label>
                      <input matInput formControlName="tempo">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Quantos quilos perdeu?</mat-label>
                      <input matInput type="number" step="0.1" formControlName="quantidade">
                    </mat-form-field>
                  </div>

                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Motivo da perda</mat-label>
                    <textarea matInput formControlName="motivo" rows="2"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <!--Ganho de peso-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Teve ganho de peso recente?</mat-panel-title>
                </mat-expansion-panel-header>
                
                <div formGroupName="ganhoPeso">
                  <mat-slide-toggle formControlName="teve">Sim</mat-slide-toggle>
                  
                  <div *ngIf="consultaForm.get('ganhoPeso.teve')?.value" class="expansion-content">
                    <div class="row">
                      <mat-form-field appearance="outline">
                        <mat-label>Em quanto tempo?</mat-label>
                        <input matInput formControlName="tempo">
                      </mat-form-field>
  
                      <mat-form-field appearance="outline">
                        <mat-label>Quantos quilos ganhou?</mat-label>
                        <input matInput type="number" step="0.1" formControlName="quantidade">
                      </mat-form-field>
                    </div>
  
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Motivo do ganho</mat-label>
                      <textarea matInput formControlName="motivo" rows="2"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </mat-expansion-panel>

          </mat-card-content>
        </mat-card>

        <mat-card class="section-card">
          <mat-card-header>
            <mat-card-title>2. Padrão Alimentar e Rotina</mat-card-title>
          </mat-card-header>
        
          <mat-card-content>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Quantas refeições por dia?</mat-label>
                <input matInput type="number" formControlName="refeicoesPorDia">
              </mat-form-field>
        
              <mat-form-field appearance="outline">
                <mat-label>Onde costuma se alimentar?</mat-label>
                <input matInput formControlName="localAlimentacao">
              </mat-form-field>
            </div>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Em que horários?</mat-label>
              <textarea matInput formControlName="horariosAlimentacao" rows="2"></textarea>
            </mat-form-field>
        
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Costuma comer sozinho(a) ou acompanhado(a)?</mat-label>
                <input matInput formControlName="companhiaRefeicoes">
              </mat-form-field>
        
              <mat-form-field appearance="outline">
                <mat-label>Duração de cada refeição?</mat-label>
                <input matInput formControlName="duracaoRefeicoes">
              </mat-form-field>
            </div>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Como você percebe sua saciedade nas refeições? Sente-se satisfeito(a)?</mat-label>
              <textarea matInput formControlName="percepcaoSaciedade" rows="2"></textarea>
            </mat-form-field>
        
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Quem prepara suas refeições?</mat-label>
                <input matInput formControlName="preparadorRefeicoes">
              </mat-form-field>
        
              <mat-form-field appearance="outline">
                <mat-label>Forma de preparo mais comum</mat-label>
                <input matInput formControlName="formaPreparoComum">
              </mat-form-field>
            </div>
        
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Quem faz as compras da casa?</mat-label>
                <input matInput formControlName="responsavelCompras">
              </mat-form-field>
        
              <mat-form-field appearance="outline">
                <mat-label>Frequência de compras</mat-label>
                <input matInput formControlName="frequenciaCompras">
              </mat-form-field>
            </div>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Como está seu apetite atualmente?</mat-label>
              <textarea matInput formControlName="apetiteAtual" rows="2"></textarea>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Preferências alimentares</mat-label>
              <textarea matInput formControlName="preferenciasAlimentares" rows="2"></textarea>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Alimentos rejeitados ou evitados</mat-label>
              <textarea matInput formControlName="alimentosRejeitados" rows="2"></textarea>
            </mat-form-field>
        
            <!-- Parte: Comportamento Alimentar e Rotina -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Em quais situações você percebe que há mudança no seu hábito alimentar?</mat-label>
              <textarea matInput formControlName="mudancasHabitoAlimentar" rows="2"></textarea>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>O que costuma mudar nos fins de semana, feriados ou nas férias?</mat-label>
              <textarea matInput formControlName="mudancasFinaisSemana" rows="2"></textarea>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Como é sua ingestão de líquidos? Quais líquidos costuma consumir? Em que quantidade e com qual frequência (horário)?</mat-label>
              <textarea matInput formControlName="ingestaoLiquidos" rows="2"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" style="min-width: 300px;">
              <mat-label>Ingestão média de água por dia</mat-label>
              <mat-select formControlName="ingestaoAgua">
                <mat-option value="0-3">0-3 garrafas</mat-option>
                <mat-option value="4-6">4-6 garrafas</mat-option>
                <mat-option value="7-9">7-9 garrafas</mat-option>
                <mat-option value="10+">10 ou mais</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Período do dia em que sente mais fome</mat-label>
              <mat-select formControlName="horarioFome" multiple>
                <mat-option value="Manhã">Manhã</mat-option>
                <mat-option value="Tarde">Tarde</mat-option>
                <mat-option value="Jantar">Jantar</mat-option>
              </mat-select>
            </mat-form-field>

        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Você prefere alimentos doces ou salgados?</mat-label>
              <textarea matInput formControlName="preferenciaSabor" rows="2"></textarea>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Costuma consumir alimentos light ou diet?</mat-label>
              <textarea matInput formControlName="alimentosLightDiet" rows="2"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Frequência em restaurantes/lanchonetes/delivery</mat-label>
              <mat-select formControlName="frequenciaRestaurantes">
                <mat-option value="Não frequenta">Não frequenta</mat-option>
                <mat-option value="1 a 2 vezes">1 a 2 vezes por semana</mat-option>
                <mat-option value="3 a 4 vezes">3 a 4 vezes por semana</mat-option>
                <mat-option value="Sempre">Sempre</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Frequência de consumo de doces</mat-label>
              <mat-select formControlName="consumoDoces">
                <mat-option value="0">0</mat-option>
                <mat-option value="1 a 3">1 a 3 vezes</mat-option>
                <mat-option value="4 a 6">4 a 6 vezes</mat-option>
                <mat-option value="Diariamente">Diariamente</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Frequência de consumo de frituras</mat-label>
              <mat-select formControlName="consumoFrituras">
                <mat-option value="0">0</mat-option>
                <mat-option value="1 a 3">1 a 3 vezes</mat-option>
                <mat-option value="4 a 6">4 a 6 vezes</mat-option>
                <mat-option value="Diariamente">Diariamente</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Usa algum tipo de suplemento?</mat-panel-title>
              </mat-expansion-panel-header>
        
              <div formGroupName="usoSuplementos">
                <mat-slide-toggle formControlName="usa">Sim</mat-slide-toggle>
        
                <div *ngIf="consultaForm.get('usoSuplementos.usa')?.value" class="expansion-content">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Qual?</mat-label>
                    <input matInput formControlName="quais">
                  </mat-form-field>
        
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Quem indicou o uso?</mat-label>
                    <input matInput formControlName="indicacao">
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-card-content>
        </mat-card>

        <mat-card class="section-card">
          <mat-card-header>
            <mat-card-title>3. Motivações e Estilo de Vida</mat-card-title>
          </mat-card-header>
        
          <mat-card-content>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Qual o motivo da sua consulta hoje?</mat-label>
              <input matInput formControlName="motivoConsulta">
            </mat-form-field>

            <mat-form-field appearance="outline" style="min-width: 300px;">
              <mat-label>Já consultou com nutricionista antes?</mat-label>
              <mat-select formControlName="jaConsultouNutricionista">
                <mat-option value="Sim">Sim</mat-option>
                <mat-option value="Não">Não</mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Qual é a sua profissão atual ou anterior (se aposentado)?</mat-label>
              <input matInput formControlName="profissao">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Onde você trabalha?</mat-label>
              <input matInput formControlName="localTrabalho">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Carga horária semanal</mat-label>
              <input matInput formControlName="cargaHoraria">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Meio de locomoção utilizado</mat-label>
              <input matInput formControlName="meioLocomocao">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Escolaridade</mat-label>
              <input matInput formControlName="escolaridade">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Estado civil</mat-label>
              <input matInput formControlName="estadoCivil">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Composição do domicílio</mat-label>
              <input matInput formControlName="composicaoDomicilio">
            </mat-form-field>
        
            <mat-form-field appearance="outline" style="min-width: 300px;">
              <mat-label>Horas de sono por noite</mat-label>
              <mat-select formControlName="horasSono">
                <mat-option value="menos de 4h">Menos de 4h</mat-option>
                <mat-option value="4 a 6h">4 a 6h</mat-option>
                <mat-option value="6 a 8h">6 a 8h</mat-option>
                <mat-option value="mais de 8h">Mais de 8h</mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field appearance="outline" style="min-width: 300px;">
              <mat-label>Acorda durante a noite?</mat-label>
              <mat-select formControlName="acordaNoite">
                <mat-option value="Sim">Sim</mat-option>
                <mat-option value="Não">Não</mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Qualidade do sono</mat-label>
              <input matInput formControlName="qualidadeSono">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Você tem algum lazer?</mat-label>
              <input matInput formControlName="lazer">
            </mat-form-field>
        
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Pratica atividade física?</mat-panel-title>
              </mat-expansion-panel-header>
        
              <div formGroupName="atividadeFisica">
                <mat-slide-toggle formControlName="pratica">Sim</mat-slide-toggle>
        
                <div *ngIf="consultaForm.get('atividadeFisica.pratica')?.value">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Frequência</mat-label>
                    <input matInput formControlName="frequencia">
                  </mat-form-field>
        
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Intensidade</mat-label>
                    <input matInput formControlName="intensidade">
                  </mat-form-field>
        
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Duração</mat-label>
                    <input matInput formControlName="duracao">
                  </mat-form-field>

                </div>
              </div>
            </mat-expansion-panel>
        
            
          </mat-card-content>
        </mat-card>

        <mat-card class="section-card">
          <mat-card-header>
            <mat-card-title>4. Aspectos Clínicos</mat-card-title>
          </mat-card-header>
        
          <mat-card-content>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Possui alguma religião que exige restrições alimentares?</mat-label>
              <input matInput formControlName="restricoesReligiosas">
            </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Já realizou alguma cirurgia? Qual?</mat-label>
            <textarea matInput formControlName="cirurgias"></textarea>
          </mat-form-field> 

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Histórico doença familiar</mat-label>
            <mat-select formControlName="historicoDieteticoFamiliar" multiple>
              <mat-option value="Cancer">Cancer</mat-option>
              <mat-option value="Diabetes">Diabetes</mat-option>
              <mat-option value="Doença cardiovascular">Doença cardiovascular</mat-option>
              <mat-option value="Doença autoimune">Doença autoimune</mat-option>
              <mat-option value="Doença osteoarticular">Doença osteoarticular</mat-option>
              <mat-option value="Doença hormonal">Doença hormonal</mat-option>
              <mat-option value="Endometriose">Endometriose</mat-option>
              <mat-option value="Hipertensão">Hipertensão</mat-option>
              <mat-option value="Hipotireoidismo">Hipotireoidismo</mat-option>
              <mat-option value="Hipertireoidismo">Hipertireoidismo</mat-option>
              <mat-option value="Obesidade">Obesidade</mat-option>
              <mat-option value="Doença renal">Doença renal</mat-option>
              <mat-option value="Depressão">Depressão</mat-option>
              <mat-option value="Síndrome do ovário policístico">Síndrome do ovário policístico</mat-option>
              <mat-option value="Síndrome do pânico">Síndrome do pânico</mat-option>
              <mat-option value="Transtornos alimentares">Transtornos alimentares (anorexia, bulimia, compulsão)</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Doenças Crônicas -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Doenças Crônicas</mat-panel-title>
            </mat-expansion-panel-header>

            <div formGroupName="doencasCronicas">
              <mat-slide-toggle formControlName="usa">Possui?</mat-slide-toggle>

              <div *ngIf="consultaForm.get('doencasCronicas.usa')?.value">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Quais?</mat-label>
                  <input matInput formControlName="quaisDoencas">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>

          <!-- Medicamentos -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Uso de medicamentos</mat-panel-title>
            </mat-expansion-panel-header>

            <div formGroupName="medicamentos">
              <mat-slide-toggle formControlName="usa">Faz uso?</mat-slide-toggle>

              <div *ngIf="consultaForm.get('medicamentos.usa')?.value">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Quais?</mat-label>
                  <input matInput formControlName="quaisMedicamentos">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Frequência</mat-label>
                  <input matInput formControlName="frequencia">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Horários</mat-label>
                  <input matInput formControlName="horarios">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
    
                  <!-- Alergias -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Alergias</mat-panel-title>
            </mat-expansion-panel-header>

            <div formGroupName="alergias">
              <mat-slide-toggle formControlName="usa">Tem?</mat-slide-toggle>

              <div *ngIf="consultaForm.get('alergias.usa')?.value">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Quais?</mat-label>
                  <input matInput formControlName="quaisAlergias">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        
            <!-- Álcool -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Consumo de álcool</mat-panel-title>
              </mat-expansion-panel-header>
        
              <div formGroupName="alcool">
                <mat-slide-toggle formControlName="usa">Consome?</mat-slide-toggle>
        
                <div *ngIf="consultaForm.get('alcool.usa')?.value">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tempo</mat-label>
                    <input matInput formControlName="tempo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Frequência</mat-label>
                    <input matInput formControlName="frequencia">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tipo</mat-label>
                    <input matInput formControlName="tipo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Quantidade</mat-label>
                    <input matInput formControlName="quantidade">
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Fuma?</mat-panel-title>
              </mat-expansion-panel-header>
        
              <div formGroupName="fumo">
                <mat-slide-toggle formControlName="fuma">Sim</mat-slide-toggle>
        
                <div *ngIf="consultaForm.get('fumo.fuma')?.value">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tempo</mat-label>
                    <input matInput formControlName="tempo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Frequência</mat-label>
                    <input matInput formControlName="frequencia">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tipo</mat-label>
                    <input matInput formControlName="tipo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Quantidade</mat-label>
                    <input matInput formControlName="quantidade">
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Uso de drogas ilícitas</mat-panel-title>
              </mat-expansion-panel-header>
        
              <div formGroupName="drogas">
                <mat-slide-toggle formControlName="usa">Usa?</mat-slide-toggle>
        
                <div *ngIf="consultaForm.get('drogas.usa')?.value">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tempo</mat-label>
                    <input matInput formControlName="tempo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Frequência</mat-label>
                    <input matInput formControlName="frequencia">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tipo</mat-label>
                    <input matInput formControlName="tipo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Quantidade</mat-label>
                    <input matInput formControlName="quantidade">
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-card-content>
        </mat-card>

        <mat-card class="section-card">
          <mat-card-header>
            <mat-card-title>5. Avaliação por Sistemas</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <!-- Sistema Neurológico -->
            <div formGroupName="sistemaNeurologico">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Cognição</mat-label>
                <input matInput formControlName="cognicao">
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Estado emocional</mat-label>
                <input matInput formControlName="emocional">
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Autonomia</mat-label>
                <input matInput formControlName="autonomia">
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Comunicação</mat-label>
                <input matInput formControlName="comunicacao">
              </mat-form-field>
            </div>

            <!-- Sistema Digestório -->
            <div formGroupName="sistemaDigestorio">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Dentição</mat-label>
                <input matInput formControlName="dentição">
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Deglutição</mat-label>
                <input matInput formControlName="degluticao">
              </mat-form-field>

              <mat-slide-toggle formControlName="dorEngolir">Sente dor ao engolir?</mat-slide-toggle>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Digestão</mat-label>
                <input matInput formControlName="digestao">
              </mat-form-field>

              <div formGroupName="evacuacao">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Frequência da evacuação</mat-label>
                  <input matInput formControlName="frequencia">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Consistência</mat-label>
                  <input matInput formControlName="consistencia">
                </mat-form-field>
              </div>
            </div>

            <!-- Sistema Urinário -->
            <div formGroupName="sistemaUrinario">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Frequência urinária</mat-label>
                <input matInput formControlName="frequencia">
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Coloração</mat-label>
                <input matInput formControlName="coloracao">
              </mat-form-field>

              <mat-slide-toggle formControlName="sangue">Presença de sangue</mat-slide-toggle>
              <mat-slide-toggle formControlName="incontinencia">Incontinência</mat-slide-toggle>
              <mat-slide-toggle formControlName="edema">Edema</mat-slide-toggle>
            </div>

            <!-- Sistema Reprodutor -->
            <ng-container *ngIf="exibirGestante">
              <mat-card class="section-card">
                <mat-card-header>
                  <mat-card-title>Sistema Reprodutor</mat-card-title>
                </mat-card-header>
            
                <mat-card-content formGroupName="sistemaReprodutorFeminino">
                  <mat-slide-toggle formControlName="menstruacaoRegular">Menstruação regular</mat-slide-toggle>
                  <mat-slide-toggle formControlName="tpm">Sinais de TPM</mat-slide-toggle>
                  
                  <mat-form-field appearance="outline" class="full-width" *ngIf="sistemaReprodutorFemininoForm.get('tpm')?.value">
                    <mat-label>Observações sobre TPM</mat-label>
                    <input matInput formControlName="observacaoTpm">
                  </mat-form-field>
                  
                  <mat-slide-toggle formControlName="amenorreia">Amenorreia</mat-slide-toggle>
                  <mat-slide-toggle formControlName="menopausa">Menopausa</mat-slide-toggle>
                  
                  <mat-form-field appearance="outline" class="full-width" *ngIf="sistemaReprodutorFemininoForm.get('menopausa')?.value">
                    <mat-label>Idade de início da menopausa</mat-label>
                    <input matInput type="number" formControlName="idadeInicioMenopausa">
                  </mat-form-field>
            
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Partos</mat-label>
                    <input matInput formControlName="partos">
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </mat-card-content>
        </mat-card>


        <!--INFANTIL-->
        <ng-container *ngIf="tipoPaciente === 'infantil'">
          <mat-card class="section-card">
            <mat-card-header>
              <mat-card-title>Formulário de Pré-Consulta - Infantil</mat-card-title>
            </mat-card-header>

            <mat-card-content [formGroup]="pacienteInfantilForm">

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Realiza acompanhamento com pediatra? Qual profissional?</mat-label>
                <input matInput formControlName="pediatra" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Tipo de parto</mat-label>
                <mat-select formControlName="tipoParto">
                  <mat-option value="Normal">Normal</mat-option>
                  <mat-option value="Cesárea">Cesárea</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Semanas gestacionais</mat-label>
                <input matInput type="number" formControlName="semanasGestacionais" />
              </mat-form-field>

              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Peso ao nascer (kg)</mat-label>
                  <input matInput type="number" formControlName="pesoNascimento" />
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Comprimento ao nascer (cm)</mat-label>
                  <input matInput type="number" formControlName="comprimentoNascimento" />
                </mat-form-field>
              </div>

              <mat-form-field appearance="outline">
                <mat-label>Foi amamentado?</mat-label>
                <mat-select formControlName="amamentado">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" style="min-width: 300px;">
                <mat-label>Tempo de amamentação (meses)</mat-label>
                <input matInput type="number" formControlName="tempoAmamentacao" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Fórmula infantil? início? Há quanto tempo utiliza? Quantas mamadeiras por dia? Qual a fórmula?</mat-label>
                <textarea matInput formControlName="usoFormula"></textarea>
              </mat-form-field>

              <mat-form-field appearance="outline" style="min-width: 300px;">
                <mat-label>Idade da introdução alimentar (meses)</mat-label>
                <input matInput type="number" formControlName="idadeIntroducaoAlimentar" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Alimentos oferecidos na introdução alimentar</mat-label>
                <textarea matInput formControlName="alimentosIntroducao"></textarea>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Rotina de estudos</mat-label>
                <textarea matInput formControlName="rotinaEstudos"></textarea>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Como você considera a mastigação da criança?</mat-label>
                <mat-select formControlName="mastigacao">
                  <mat-option value="Lenta">Lenta - costuma terminar por último</mat-option>
                  <mat-option value="Normal">Normal - mastiga bem</mat-option>
                  <mat-option value="Rápida">Rápida - termina antes</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Alimento indispensável ou favorito</mat-label>
                <input matInput formControlName="alimentoFavorito" />
              </mat-form-field>

              <mat-form-field appearance="outline" style="min-width: 300px;">
                <mat-label>Realiza refeições na escola/creche?</mat-label>
                <mat-select formControlName="refeicoesEscola">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

            </mat-card-content>
          </mat-card>
        </ng-container>

        <!--ADOLESCENTE-->
        <ng-container *ngIf="tipoPaciente === 'adolescente'">
          <mat-card class="section-card">
            <mat-card-header>
              <mat-card-title>Formulário de Pré-Consulta - Adolescente</mat-card-title>
            </mat-card-header>

            <mat-card-content [formGroup]="pacienteAdolescenteForm">

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Estado atual de vacinação</mat-label>
                <mat-select formControlName="vacinacao">
                  <mat-option value="completa">Vacinação completa e em dia</mat-option>
                  <mat-option value="incompleta">Vacinação incompleta</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Realiza alguma refeição na escola?</mat-label>
                <mat-select formControlName="refeicaoEscola">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Costuma comer assistindo TV?</mat-label>
                <mat-select formControlName="comeAssistindoTV">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sente pressão estética nas redes sociais ou entre amigos?</mat-label>
                <mat-select formControlName="pressaoEstetica">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Costuma pular refeições? Quais?</mat-label>
                <input matInput formControlName="pulaRefeicoes" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Já teve episódios de compulsão alimentar?</mat-label>
                <mat-select formControlName="compulsaoAlimentar">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Acompanha influenciadores sobre alimentação/fitness?</mat-label>
                <mat-select formControlName="segueInfluenciadores">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>O conteúdo nas redes afeta sua alimentação?</mat-label>
                <mat-select formControlName="redesAfetamAlimentacao">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Como está sua rotina de estudos e atividades fora da escola?</mat-label>
                <textarea matInput formControlName="rotinaEstudos" rows="3"></textarea>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Já teve alterações de humor associadas à alimentação?</mat-label>
                <mat-select formControlName="alteracoesHumorAlimentacao">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

            </mat-card-content>
          </mat-card>
        </ng-container>

        <!--IDOSO-->
        <ng-container *ngIf="tipoPaciente === 'idoso'">
          <mat-card class="section-card">
            <mat-card-header>
              <mat-card-title>Formulário de Pré-Consulta - Idoso</mat-card-title>
            </mat-card-header>

            <mat-card-content [formGroup]="pacienteIdosoForm">

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Já teve episódios de confusão mental ou desorientação?</mat-label>
                <mat-select formControlName="confusaoMental">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sente-se fraco(a) ou com pouca energia no dia a dia?</mat-label>
                <mat-select formControlName="fraquezaFadiga">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Notou diminuição do apetite recentemente?</mat-label>
                <mat-select formControlName="apetiteDiminuido">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Já foi diagnosticado com sarcopenia?</mat-label>
                <mat-select formControlName="sarcopenia">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Já sofreu quedas nos últimos meses?</mat-label>
                <mat-select formControlName="quedasRecentes">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sobre sua mobilidade</mat-label>
                <mat-select formControlName="mobilidade">
                  <mat-option value="Restrito">Restrito ao leito ou cadeira de rodas</mat-option>
                  <mat-option value="Ajuda">Anda com ajuda, mas não sai de casa sozinho</mat-option>
                  <mat-option value="Normal">Mobilidade normal</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Utiliza prótese dentária?</mat-label>
                <mat-select formControlName="proteseDentaria">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>

            </mat-card-content>

          </mat-card>
        </ng-container>

        <!--GESTANTE-->
        <ng-container *ngIf="isGestante">
          <mat-card class="section-card">
            <mat-card-header>
              <mat-card-title>Informações da Gestação</mat-card-title>
            </mat-card-header>
        
            <mat-card-content formGroupName="gestanteInfo">
              <!-- Situação Matrimonial -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Situação matrimonial</mat-label>
                <mat-select formControlName="situacaoMatrimonial">
                  <mat-option value="Solteira">Solteira</mat-option>
                  <mat-option value="Casada">Casada</mat-option>
                  <mat-option value="Divorciada">Divorciada</mat-option>
                </mat-select>
              </mat-form-field>
        
              <!-- Primeira Gestação -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>É sua primeira gestação?</mat-label>
                <mat-select formControlName="primeiraGestacao">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>
        
              <!-- Semanas Gestacionais -->
              <mat-form-field appearance="outline">
                <mat-label>Semanas gestacionais</mat-label>
                <input matInput type="number" formControlName="semanasGestacionais">
              </mat-form-field>
        
              <!-- Aborto Anterior -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Já teve algum aborto anteriormente?</mat-label>
                <mat-select formControlName="abortoAnterior">
                  <mat-option value="Sim">Sim</mat-option>
                  <mat-option value="Não">Não</mat-option>
                </mat-select>
              </mat-form-field>
        
              <!-- Pré-natal -->
              <mat-slide-toggle formControlName="fazAcompanhamento">Faz acompanhamento pré-natal?</mat-slide-toggle>
              <mat-form-field appearance="outline" class="full-width" *ngIf="consultaForm.get('gestanteInfo.fazAcompanhamento')?.value">
                <mat-label>Frequência</mat-label>
                <input matInput formControlName="preNatalFrequencia">
              </mat-form-field>
        
              <!-- Sintomas -->
              <div formGroupName="sintomasGestacao">
                <mat-slide-toggle formControlName="alteracaoApetite">Houve alteração no apetite?</mat-slide-toggle>
                <mat-slide-toggle formControlName="enjoos">Sente enjoos?</mat-slide-toggle>
                
                <!-- Desejos Alimentares -->
                <mat-slide-toggle formControlName="temDesejos">Tem vontade de ingerir substâncias ou alimentos estranhos?</mat-slide-toggle>
                
                <div *ngIf="consultaForm.get('gestanteInfo.sintomasGestacao.temDesejos')?.value">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Descrição</mat-label>
                    <input matInput formControlName="descricao">
                  </mat-form-field>
        
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Frequência</mat-label>
                    <input matInput formControlName="frequencia">
                  </mat-form-field>
        
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo">
                      <mat-option value="desejo">Desejo</mat-option>
                      <mat-option value="necessidade">Necessidade</mat-option>
                    </mat-select>
                  </mat-form-field>
        
                  <mat-slide-toggle formControlName="consome">Você consome essas substâncias?</mat-slide-toggle>
                  
                  <mat-form-field appearance="outline" class="full-width" *ngIf="consultaForm.get('gestanteInfo.sintomasGestacao.consome')?.value">
                    <mat-label>Detalhes do consumo</mat-label>
                    <textarea matInput formControlName="detalhesConsumo" rows="2"></textarea>
                  </mat-form-field>
        
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Histórico desse comportamento</mat-label>
                    <textarea matInput formControlName="historico" rows="2"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Adicione observações sobre o atendimento</mat-label>
          <textarea matInput formControlName="observacoesadicionais" rows="2"></textarea>
        </mat-form-field>


<div class="button-container" fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 24px;">
          <!-- Botões à esquerda -->
          <div>
            <button mat-stroked-button color="accent" 
                    type="button" (click)="novoCardapio()">
              {{ cardapioAtual ? 'Editar' : 'Novo' }} Cardápio
            </button>

            <button mat-stroked-button color="primary" type="button"
                    (click)="gerarPdf()"
                    [disabled]="!cardapioAtual">
              <mat-icon>picture_as_pdf</mat-icon>
              Exportar PDF
            </button>
          </div>



          <!-- Botões à direita -->
          <div>
            <button mat-raised-button color="warn" type="button" (click)="cancelar()">
              Cancelar
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="loading">
              <span *ngIf="!loading">Salvar</span>
              <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            </button>
          </div>
        </div>