<app-menu></app-menu>

<div class="container">

    <mat-card class="patient-header">
        <mat-card-header>
            <mat-card-title>Atendimento de {{ paciente?.nome || 'Carregando...' }}</mat-card-title>
            <mat-card-subtitle *ngIf="paciente">
              <div><strong>Nome:</strong> {{ paciente.nome }}</div>
              <div><strong>Idade:</strong> {{ calcularIdade(paciente.dataNascimento) }} anos</div>
              <div *ngIf="paciente.doencasCronicas?.usa"><strong>Doenças Crônicas:</strong> {{ paciente.doencasCronicas.quaisDoencas }}</div>
              <div *ngIf="paciente.alergias?.usa"><strong>Alergias:</strong> {{ paciente.alergias.quaisAlergias }}</div>
              <div *ngIf="paciente.medicamentos?.usa"><strong>Medicamentos:</strong> {{ paciente.medicamentos.quaisMedicamentos }}</div>
            </mat-card-subtitle>
          </mat-card-header>
    </mat-card>

    

</div>
