<app-menu></app-menu>

<div class="container">

  <mat-card class="calendario">
    <mat-calendar [(selected)]="dataSelecionada" (selectedChange)="selecionarDia($event)"></mat-calendar>
  </mat-card>

  <mat-card class="detalhes">
    <h2>Consultas para {{ dataSelecionada | date: 'dd/MM/yyyy' }}</h2>

    <h3>Agendar Nova Consulta</h3>
    <label>Horário:</label>
    <input matInput type="time" [(ngModel)]="novoHorario">

    <label>Paciente:</label>
    <input matInput type="text" [(ngModel)]="novoPaciente" (keypress)="bloquearNumeros($event)">

    <button class="agendar-btn" (click)="agendarConsulta()">Agendar</button>

    <div class="consultas-lista">
        <ul>
          <li *ngFor="let consulta of consultasDoDia; let i = index">
            <span>{{ consulta.horario }} - {{ consulta.paciente }}</span>
            <button mat-icon-button color="primary" (click)="editarConsulta(i)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluirConsulta(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    <div *ngIf="consultasDoDia.length === 0">
      <p>Nenhuma consulta marcada para este dia.</p>
    </div>
  </mat-card>
</div>
