<app-menu></app-menu>

<div class="container">
    <mat-card class="patient-header">
        <mat-card-header>
            <mat-card-title>Atendimentos de {{ paciente?.nome || 'Carregando...' }}</mat-card-title>
            <mat-card-subtitle>
                <span>Idade: {{ calcularIdade(paciente?.dataNascimento) }} anos</span>
                <br>
                <span *ngIf="informacoesIniciais?.doencasCronicas?.usa">
                    Doenças: {{ informacoesIniciais.doencasCronicas.quaisDoencas }}
                  </span>
                  <span *ngIf="informacoesIniciais && !informacoesIniciais.doencasCronicas?.usa">
                    Doenças: Nenhuma
                  </span>
                  
                  <br>
                  
                  <span *ngIf="informacoesIniciais?.alergias?.usa">
                    Alergias: {{ informacoesIniciais.alergias.quaisAlergias }}
                  </span>
                  <span *ngIf="informacoesIniciais && !informacoesIniciais.alergias?.usa">
                    Alergias: Nenhuma
                  </span>
                  
                  <br>
                  
                  <span *ngIf="informacoesIniciais?.medicamentos?.usa">
                    Medicamentos: {{ informacoesIniciais.medicamentos.quaisMedicamentos }}
                  </span>
                  <span *ngIf="informacoesIniciais && !informacoesIniciais.medicamentos?.usa">
                    Medicamentos: Nenhum
                  </span>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="novoAtendimento()">
                Novo Atendimento
            </button>
            <button mat-button (click)="voltarParaLista()">
                Voltar
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="atendimentos-list">
        <mat-card-header>
            <mat-card-title>Histórico de Atendimentos</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <table mat-table [dataSource]="atendimentos" class="full-width">
                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef>Data</th>
                    <td mat-cell *matCellDef="let item">{{ item.data | date:'dd/MM/yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="titulo" >
                    <th mat-header-cell *matHeaderCellDef>Título</th>
                    <td mat-cell *matCellDef="let item">{{ item.titulo }}</td>
                </ng-container>

                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef class="acoes-header">Ações</th>
                    <td mat-cell *matCellDef="let item">
                    <div class="acoes-container">
                        <button mat-icon-button color="primary" (click)="editarAtendimento(item.id)">
                        <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="excluirAtendimento(item.id)">
                        <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="visualizarAtendimento(item.id)" matTooltip="Visualizar">
                        <mat-icon>remove_red_eye</mat-icon>
                        </button>
                    </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div *ngIf="atendimentos.data.length === 0" class="no-results">
                Nenhum atendimento registrado ainda.
            </div>
        </mat-card-content>
    </mat-card>
</div>
