<app-menu></app-menu>

<div class = "container-fluid pt-3">
    <div class="row">
        <!-- lado esquerdo da tela-->
        <div class="col-12 col-lg-9">
            <div class="welcome-section">
                <h2>Olá, {{userName}}!</h2>
                <p>Suas consultas no dia de hoje são:</p>
                <div class="consultas-container">
                    <ul>
                        <li *ngFor="let consulta of consultasDoDia">
                            <a href="#">{{consulta.horario}} - {{consulta.paciente}}</a>
                        </li>
                        <li *ngIf="consultasDoDia.length === 0">Nenhuma consulta marcada para hoje.</li>
                    </ul>
                </div>
            </div>
        </div>

           

        <!--lado direito da tela-->
        <div class="col-12 col-lg-3">
            <div class="card-info">
                <div class="container-perfil">
                    <img src="../../../assets/imgs/avatar.jpg" class="img-perfil">
                    <h4>Seja Bem-vindo</h4>
                    <h5>{{userName}}</h5>
                    <p>Conta criada em: {{dataCadastro}}</p>
                    <p>Pacientes cadastrados: {{totalPacientes}}</p>
                    <p>Consultas realizadas: {{totalConsultas}}</p>
                </div>

                <li></li>
                <li routerLink="/editUser"><mat-icon>person</mat-icon>Meus Dados</li>
                <li (click)="confirmarExclusao()"><mat-icon>delete</mat-icon>Excluir Conta</li>

            </div>

        </div>

    </div>
</div>