<app-menu></app-menu>

<div class = "container-fluid pt-3">
    <div class="row">
        <!-- lado esquerdo da tela-->
        <div class="col-12 col-lg-9">
            <div class="welcome-section">
                <h2>Olá, Lucas!</h2>
                <p>Suas consultas no dia de hoje são:</p>
                <div class="consultas-container">
                    <ul>
                        <li><a href="#">09:00 - Lucas Miguel Konopka</a></li>
                        <li><a href="#">10:00 - Lucas Miguel Konopka</a></li>
                        <li><a href="#">13:30 - Lucas Miguel Konopka</a></li>
                        <li><a href="#">16:30 - Lucas Miguel Konopka</a></li>
                    </ul>
                </div>
            </div>
        </div>

           

        <!--lado direito da tela-->
        <div class="col-12 col-lg-3">
            <div class="card-info">
                <div class="container-perfil">
                    <img src="../../../assets/imgs/avatar.jpg" class="img-perfil">
                    <h4>Seja Bem vindo</h4>
                    <!--<h5>{{userName}}</h5> -->
                    <li><mat-icon>location_on</mat-icon>Irati - PR</li>
                </div>

                <hr class="hr">
                <p class="texto-p">"Um sonho é apenas um desejo, até o momento em que você começa a atuar sobre ele, e propõe-se a transformá-lo em uma meta."</p>
                <hr class="hr">

                <li><mat-icon>person</mat-icon>Meus Dados</li>
                <li><mat-icon>delete</mat-icon>Excluir Conta</li>

            </div>

        </div>

    </div>
</div>