<nav class = "sidemenu">
    <ul>
        <li routerLink="/home">
           <!--<img src = "../../../assets/imgs/logo.png" width="40px"> --> 
            <span class = "logo">TITULO</span>
        </li>

        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>

        <li routerLink="/cadastroPacientes"><mat-icon>person_add</mat-icon>Cadastrar Pacientes</li>

        <li routerLink="/pacientes"><mat-icon>groups</mat-icon>Pacientes</li><!--people-->

        <li routerLink="/calendario"><mat-icon>calendar_month</mat-icon>Calendário</li>

        <li routerLink="/consulta"><mat-icon>event</mat-icon>Marcar Consulta</li>

        <li routerLink="/planosAlimentares"><mat-icon>menu_book</mat-icon>Planos Alimentares</li>

        <li routerLink="/Login" class = "logout"><mat-icon>logout</mat-icon>Sair</li>

    </ul>

</nav>