<h2 mat-dialog-title>Criar Novo Cardápio</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome do Cardápio*</mat-label>
    <input matInput [formControl]="nomeCardapio" required>
    <mat-error *ngIf="nomeCardapio.invalid">
      {{ nomeErrorMessage }}
    </mat-error>
  </mat-form-field>

  <div class="conteudo-container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Conteúdo do Cardápio*</mat-label>
      <textarea matInput [formControl]="conteudoCardapio" rows="20" required></textarea>
      <mat-error *ngIf="conteudoCardapio.invalid">
        {{ conteudoErrorMessage }}
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="salvar()" [disabled]="nomeCardapio.invalid || conteudoCardapio.invalid">
    Salvar
  </button>
</mat-dialog-actions>